/* Inter font configuration */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6; /* Equivalent to bg-gray-100 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0; /* Remove default body margin */
}

/* Custom styles for the main button */
.styled-button {
  background-color: #2563eb; /* Equivalent to bg-blue-600 */
  color: white;
  font-weight: bold;
  padding: 0.75rem 1.5rem; /* Equivalent to py-3 px-6 */
  margin: 0.5rem;
  border-radius: 0.5rem; /* Equivalent to rounded-lg */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Equivalent to shadow-md */
  transition: background-color 0.3s ease, transform 0.3s ease;
  outline: none; /* Equivalent to focus:outline-none */
  border: none;
  cursor: pointer;
}

.styled-button:hover {
  background-color: #1d4ed8; /* Equivalent to hover:bg-blue-700 */
  transform: scale(1.05); /* Equivalent to hover:scale-105 */
}

.styled-button:focus {
  box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5); /* Equivalent to focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 */
}

.label {
  font-weight: bold;
  padding: 0.75rem 1.5rem; /* Equivalent to py-3 px-6 */
}

.scope-container {
  width: 300px;
  background-color: #000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scope-screen {
  width: 100%;
  aspect-ratio: 5/4;
  background-image: url('oscillo-screen-300.svg');
}

.scope-header, .scope-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 3px 0;
}

.scope-sub-header, .scope-sub-footer {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
}

.scope-ch-range {
  width: 45px;
  height: 20px;
  background-color: #222;
  padding: 0;
  color: whitesmoke;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  font: 10px Arial, sans-serif;
}

.scope-ch-range:hover {
  background-color: #333;
}

.scope-chA-color {
  border-color: cyan;
}

.scope-chB-color {
  border-color: blue;
}

.scope-chC-color {
  border-color: fuchsia;
}

.scope-chD-color {
  border-color: yellow;
}

.scope-span-color {
  border-color: white;
}