<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Navio Station</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/oscilloscope.js"></script>
    <script src="../static/led.js"></script>
</head>
<body>
    <h1>LED</h1>
    <div>
        <button id="startButton" onclick="runLed()" class="styled-button">
            Start LED demo
        </button>
    </div>
    <div>
        <input type="radio" id="off" name="mode" value="1" onchange="confLed()">
        <label for="off">OFF</label><br>
        <input type="radio" id="on" name="mode" value="2" onchange="confLed()" checked>
        <label for="on">ON</label><br>
        <input type="radio" id="pulse" name="mode" value="3" onchange="confLed()">
        <label for="pulse">Pulse</label>
    </div>
    <div>
        <input type="range" id="red" name="red" min="0" max="1" step="0.01" value="0" onchange="confLed()">
        <label for="red">Red</label><br>
        <input type="range" id="green" name="green" min="0" max="1" step="0.01" value="1" onchange="confLed()">
        <label for="green">Green</label><br>
        <input type="range" id="blue" name="blue" min="0" max="1" step="0.01" value="0" onchange="confLed()">
        <label for="blue">Blue</label><br>
    </div>

    <div id="output" class="label">
        ...
    </div>

    <div id="oscilloscope-container">
        <canvas id="oscilloscope" width="400" height="200"></canvas>
        <button id="oscilloscope_button" class="toggle-button play" onclick="launchOscilloscope()">
            <div class="icon-play"></div>
            <div class="icon-pause"></div>
        </button>
    </div>

    <script>
        const pressSig = new OscilloscopeSignal("pressure", "mbar", 900, 1100, '#00ff00')
        const tempSig = new OscilloscopeSignal("temperature", "degC", 20, 40, '#ff0000')
        const baroScope = new Oscilloscope(document.getElementById('oscilloscope'), "Barometer", 20, [pressSig, tempSig])
        function launchOscilloscope() {
            if (!baroScope.isRunning) {
                baroScope.startOscilloscope();
                document.getElementById("oscilloscope_button").classList.remove('play');
                document.getElementById("oscilloscope_button").classList.add('pause');
            } else {
                baroScope.stopOscilloscope();
                document.getElementById("oscilloscope_button").classList.remove('pause');
                document.getElementById("oscilloscope_button").classList.add('play');
            }
        }
    </script>

</body>
</html>
