<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Navio Station</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>LED</h1>
    <div>
        <button id="startButton" onclick="runLed()" class="styled-button">
            Start LED demo
        </button>
    </div>
    <div>
        <input type="radio" id="off" name="mode" value="1" onchange="confLed()">
        <label for="off">OFF</label><br>
        <input type="radio" id="on" name="mode" value="2" onchange="confLed()" checked>
        <label for="on">ON</label><br>
        <input type="radio" id="pulse" name="mode" value="3" onchange="confLed()">
        <label for="pulse">Pulse</label>
    </div>
    <div>
        <canvas id="colorPicker" width="100" height="100"></canvas>
    </div>

    <div id="output" class="label">
        ...
    </div>

    <div id="oscilloscope" class="scope-container">
        <!--filled by oscilloscope.js-->
    </div>

    <script src="../static/oscilloscope.js"></script>
    <script src="../static/led.js"></script>
    <script>  
        document.addEventListener('DOMContentLoaded', () => {
            const pressSig = new OscilloscopeSignal("Ps", "mbar", 900, 1100)
            const tempSig = new OscilloscopeSignal("OAT", "degC", 30, 35)
            const baroScope = new Oscilloscope('oscilloscope', "Barometer", [pressSig, tempSig])
            baroScope.startOscilloscope();
        });
    </script>

</body>
</html>
