<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Button and Script</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <!-- Main Button -->
    <button id="actionButton" onclick="runLed()" class="styled-button">
        Start LED demo
    </button>

    <div id="output" class="label">
        ...
    </div>

    <script>
        function runLed() {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                if (this.responseText == "1") {
                  document.getElementById("output").innerHTML = "demo is running";
                  document.getElementById("actionButton").innerHTML = "Stop LED demo";
                } else {
                  document.getElementById("output").innerHTML = "...";
                  document.getElementById("actionButton").innerHTML = "Start LED demo";
                }
            }
          };
          xhttp.open("GET", "runled", true);
          xhttp.send();
        }
    </script>

</body>
</html>
